@using RAD301_CA2_s00128052.Models
@model Actor

@if (Model != null)
{
    <div class="row"><h3>Add a Movie to @Model.ActorFullName<a onclick="$('#CreateMovieActorForm').hide(), ActorDetails('@Model.ActorId')" style="margin-left:30px;" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove" style="margin-right:5px;"/>Cancel</a></h3>
        <div class="col-md-5">
            <p>
                <img src="@Url.Content(Model.ActorImageUrl)" alt="@Model.ActorSurname" class="img-thumbnail" style="width:250px;height:300px;" />
            </p>
            <p>@Html.DisplayNameFor(a => Model.ActorFullName) :@Html.DisplayFor(modelitem=>Model.ActorFullName)</p>
            <p>@Html.DisplayNameFor(a => Model.ActorDOB) :@Html.DisplayFor(modelitem=>Model.ActorDOB)</p>
            <p>@Html.DisplayNameFor(a => Model.ActorGender) :@Html.DisplayFor(modelitem=>Model.ActorGender)</p>
            
        </div>
        <div class="col-md-7">
            <input type="hidden" id="ActorId" name="ActorId" value="@Model.ActorId" />
            <div class="form-group">
                <label for="ActorId" class="col-sm-3 control-label">
                    Choose a Movie:</label>
            <div class="col-sm-4"><select id="MovieId" name="MovieId" class="form-control">
                @foreach (Movie m in @ViewBag.MovieList)
                {
                    <option value="@m.MovieId">@m.MovieTitle</option>
                }
            </select></div>
            </div>
            <div class="form-group">
                <label for="ActorScreenName" class="col-sm-3 control-label">@Html.DisplayNameFor(modelItem => Model.Characters[0].ActorScreenName)</label>
                    <div class="col-sm-4"><input type="text" name="ActorScreenName" id="ActorScreenName" class="form-control" /></div>
                
            </div>
        </div>
    </div>
}
else
{
    <h3>There has been an Error</h3>
}





