@model RAD301_CA2_s00128052.Models.Actor

@if (Model != null)
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete @Model.ActorFullName?</h4>
    </div>
    <div class="modal-body">
        <p>
            <img src="@Url.Content(Model.ActorImageUrl)" alt="@Model.ActorSurname" style="width:250px;height:300px;" class="img-rounded"/>
        </p>
        <p>@Html.DisplayNameFor(modelItem => Model.ActorDOB) : @Html.DisplayFor(modelItem => Model.ActorDOB)</p>
        <p>@Html.DisplayNameFor(modelItem => Model.ActorGender) : @Html.DisplayFor(modelItem => Model.ActorGender)</p>
        <p>@Html.DisplayNameFor(modelItem => Model.ActorDescription) : @Html.DisplayFor(modelItem => Model.ActorDescription)</p>
        <input type="hidden" id="ContentDelete" value="@Model.ActorFullName" />
    </div>
    <div class="modal-footer">
        <button type="button" id="DeleteActor" data-dismiss="modal" class="btn btn-danger btn-sm" onclick="DeleteActor('@Model.ActorId')"><span class="glyphicon glyphicon-ok" style="margin-right: 5px;"></span>Confirm</button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove" style="margin-right: 5px;" />Cancel</button>
    </div>
}
else
{
    <h3>There has been an Error</h3>
}
