@using RAD301_CA2_s00128052.Models
@model Movie
@if (Model != null)
{
    <h3 class="col-sm-offset-1">Edit Movie @Model.MovieTitle<a onclick="$('#EditMovieForm').hide(),AllMovies()" style="margin-left:30px;" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove" style="margin-right:5px;"/>Cancel</a></h3>
    <input type="hidden" name="MovieId" value="@Model.MovieId" />
    <div class="form-group">
        <label for="MovieTitle" class="col-sm-2 control-label">@Html.DisplayNameFor(modelItem => Model.MovieTitle):</label>
        <div class="col-sm-4"><input id="MovieTitleEdit" type="text" name="MovieTitle" value="@Model.MovieTitle" class="form-control"/></div>
    </div>
    <div class="form-group">
        <label for="MovieDescription" class="col-sm-2 control-label">@Html.DisplayNameFor(modelItem => Model.MovieDescription):</label>
        <div class="col-sm-4"><input type="text" value="@Model.MovieDescription" id="MovieDescription" name="MovieDescription" class="form-control"/></div>
    </div>
    <div class="form-group">
        <label for="MovieDirector" class="col-sm-2 control-label">@Html.DisplayNameFor(modelItem => Model.MovieDirector):</label>
        <div class="col-sm-4"><input id="MovieDirector" type="text" value="@Model.MovieDirector" name="MovieDirector" class="form-control"/></div>
    </div>
    <div class="form-group">
        <label for="GenreId" class="col-sm-2 control-label">@Html.DisplayNameFor(modelItem => Model.GenreId):</label>
        <div class="col-sm-4"><select id="GenreId" name="GenreId" class="form-control">
            @foreach (Genre g in @ViewBag.Genres)
            {
                if (@Model.GenreId == g.GenreId)
                {
                <option value="@g.GenreId" selected>@g.GenreName</option>
                }
                else
                {
                <option value="@g.GenreId">@g.GenreName</option>
                }
            }
        </select></div>
    </div>
    <input id="MovieReleaseDate" type="hidden" name="MovieReleaseDate" value="@Model.MovieReleaseDate" />
    <input id="MovieLength" type="hidden" name="MovieLength" value="@Model.MovieLength"/>
    <div class="form-group">
        <label for="MovieRating" class="col-sm-2 control-label">@Html.DisplayNameFor(modelItem => Model.MovieRating):</label>
        <div class="col-sm-3"><input id="MovieRating" type="range" name="MovieRating" step="1" min="1" max="100" value="@Model.MovieRating" class="form-control"/></div>
        <div class="col-sm-1"><output id="MovieRatingOutput">50</output></div>
    </div>
    <input id="MoviePosterUrl" type="hidden" name="MoviePosterUrl" value="@Model.MoviePosterUrl" />
}
else
{
    <h3>There has been an Error</h3>
}