@model RAD301_CA2_s00128052.Models.Actor

@if (Model != null)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                Featured Actor
            </div>
        </div>
        <div class="panel-body" style="width:auto;">
            <p class="text-center">
                <img src="@Url.Content(Model.ActorImageUrl)" alt="@Model.ActorSurname" style="width:250px;height:300px;" class="img-rounded"/>
            </p>
            <dl class="dl-horizontal" style="margin-left:-25px;">
            <dt>@Html.DisplayNameFor(a => Model.ActorFullName) :</dt> <dd>@Html.DisplayFor(modelitem=>Model.ActorFullName)</dd>
            <dt>@Html.DisplayNameFor(a => Model.ActorDOB) :</dt> <dd>@Html.DisplayFor(modelitem=>Model.ActorDOB)</dd>
            <dt>@Html.DisplayNameFor(a => Model.ActorGender) :</dt> <dd>@Html.DisplayFor(modelitem=>Model.ActorGender)</dd>
            </dl>
        </div>
        <div class="panel-footer">
            <a onclick="ActorDetails('@Model.ActorId')" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search" style="margin-right:5px;"></span>Details</a>
            <a onclick="AllActors()" class="btn btn-primary btn-sm">All Actors</a>
        </div>
    </div>
    
}
else
{
    <h3>There has been an Error</h3>
}