@model RAD301_CA2_s00128052.Models.Movie

@if(Model!=null)
{
<div class="containerfluid">
    <h3>Featured Movie</h3>
    <p><img src="@Url.Content(Model.MoviePosterUrl)" alt="@Model.MovieTitle" style="width:250px;height:300px;" /></p>
    <p>@Html.DisplayNameFor(m=>Model.MovieTitle) : @Model.MovieTitle</p>
    <p>@Html.DisplayNameFor(m=>Model.MovieDirector) : @Model.MovieDirector</p>
    <p>@Html.DisplayNameFor(m=>Model.MovieGenre) : @Model.MovieGenre.GenreName</p>
    <a onclick="MovieDetails('@Model.MovieId')" class="btn btn-success">Details</a>
    <a onclick="AllMovies()" class="btn btn-success">All Movies</a>
</div>
}
else
{
    <h3>There has been an Error</h3>
}