@using RAD301_CA2_s00128052.Models
@model IEnumerable<Movie>

@if (Model.Any())
{
    <div class="container">
        <a onclick="CreateMovie()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus" style="margin-right:5px;"></span>Add Movie</a>
        <div class="btn-group">
            <button type="button" class="btn btn-danger btn-sm">Sort By</button>
            <button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a onclick="AllMovies('N')">None</a></li>
                <li><a onclick="AllMovies('NC')">Number of Characters</a></li>
                <li><a onclick="AllMovies('G')">Genre</a></li>
                <li><a onclick="AllMovies('A')">Alphabetical</a></li>
                <li><a onclick="AllMovies('RA')">Reverse Alphabetical</a></li>
            </ul>
        </div>

        <div class="row" style="margin-top:20px;">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div onmouseover="OtherActors(@item.MovieId)" class="PopUpFire" title="Movies Actors">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    @Html.DisplayFor(modelItem => item.MovieTitle)
                                    </div>
                                </div>
                            <div class="panel-body">
                                
                                <p class="text-center">
                                    <img src="@Url.Content(item.MoviePosterUrl)" alt="@item.MovieTitle" style="width:150px;height:200px" class="img-rounded"/>
                                </p>
                                <dl class="dl-horizontal" style="margin-left:-50px;">
                                <dt>Director:</dt> <dd>@Html.DisplayFor(modelItem => item.MovieDirector)</dd>
                                <dt>Genre :</dt> <dd>@Html.DisplayFor(modelItem => item.MovieGenre.GenreName)</dd>
                                <dt>Release Date :</dt> <dd>@Html.DisplayFor(modelItem => item.MovieReleaseDate)</dd>
                                @*<dt>Run Time :</dt> <dd>@Html.DisplayFor(modelItem => item.MovieLength)</dd>
                                <dt>Rating :</dt> <dd>@Html.DisplayFor(modelItem => item.MovieRating)</dd>*@
                                </dl>
                            </div>
                
                            <div class="panel-footer">
                                <a onclick="MovieDetails('@item.MovieId')" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-search" style="margin-right:5px;"></span>Details</a>
                                <a onclick="EditMovie('@item.MovieId')" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil" style="margin-right:5px;"></span>Edit</a>
                                <a onclick="DeleteMovieModal('@item.MovieId')" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-trash" style="margin-right:5px;"></span>Delete</a>
                            </div>
                        </div>
                    </div>  
                </div>
            }
        </div>
    </div>
               
                
               
                
}
else
{
    <h3>There has been a Error</h3>
}
